---
export interface Props {
	name: string;
	image: string;
	link: string;
}

const { name, image, link } = Astro.props as Props;
---

<li
	class="bg-gray-800 dark:bg-gray-200 bg-cover h-60 overflow-clip w-96"
	style={`background-image: url('${image}')`}
>
	<div
		class="bg-gradient-to-b from-transparent via-gray-900/40 to-gray-900/60 h-full w-full align-text-bottom flex items-end justify-center text-center p-4"
	>
		<h3
			class="font-display text-5xl text-gray-50 font-medium drop-shadow shadow-black"
		>
			{name}
		</h3>
	</div>
</li>
