---
import { Image } from "@astrojs/image/components";
import Link from "../../reusable/Link.astro";

import headshot from "../../../assets/headshot-bw.png";
---

<section id="bio" class="flex flex-col gap-6 items-center pt-32 -mt-32">
	<h2 class="text-4xl font-display text-center">Who am I?</h2>
	<div
		class="flex flex-wrap gap-x-20 gap-y-10 w-full items-center place-content-center"
	>
		<!-- IMAGE AND SHORT BIO -->
		<Image
			src={headshot}
			width={400}
			height={400}
			alt="My headshot"
			class="rounded-full shadow-sm shadow-black/10 w-60 bg-gray-700 dark:bg-gray-300 h-60 pt-5 object-contain text-white dark:text-black text-center flex items-center justify-center"
		/>
		<div class="grid gap-4">
			<p class="w-80">
				I love building things! I try to bring a <strong
					class="text-sky-700 dark:text-sky-300"
				>
					creative touch
				</strong> to my projects. My goal as a developer is to focus on great user
				experiences which don't compromise on accessibility.
			</p>
			<Link href="/about" caret class="font-subheading">Learn more</Link>
		</div>
	</div>
</section>
