---
import { Image } from '@astrojs/image/components'

import headshot from '../../../assets/headshot-bw.png'
---

<section id="bio" class="flex flex-col gap-6 items-center pt-32 -mt-32">
	<h2 class="text-4xl font-display text-center">Who am I?</h2>
	<div
		class="flex flex-wrap gap-x-20 gap-y-10 w-full items-center place-content-center">
		<!-- IMAGE AND SHORT BIO -->
		<Image
			src={headshot}
			width={400}
			height={400}
			alt="My headshot"
			class="rounded-full shadow-sm shadow-black/10 w-60 bg-gray-700 dark:bg-gray-300 h-60 pt-5 object-contain text-white dark:text-black text-center flex items-center justify-center"
		/>
		<div class="grid gap-4">
			<p class="w-80">
				I'm Luke! I'm a software engineer experienced in all things web and
				Javascript. <strong class="text-sky-700 dark:text-sky-300"
					>I'm a creator at heart</strong
				>, and spend my free time working on personal projects or art!
			</p>
		</div>
	</div>
</section>
