---
const oldprojects = [
	{
		name: 'Fridge Magnets',
		short: 'Multiplayer party game',
		repo: 'fridgemagnets',
		url: 'fridgemagnets.dev.lukeshafer.com',
		tech: [
			'TypeScript',
			'SvelteKit',
			'Svelte',
			'Node.js',
			'Colyseus',
			'Websockets',
		],
		feats: [
			'Built a live, online multiplayer party game on my own',
			'Solved state management challenges by pairing Svelte stores with the Colyseus backend framework',
			'Wrote custom, DOM-based UI rather than Canvas-based',
		],
	},
	{
		name: 'Do Good Collective',
		short: 'Small, fullstack website',
		repo: 'dogood',
		url: 'dogoodcollective.net',
		tech: ['SvelteKit', 'TypeScript', 'Strapi CMS', 'Node.js', 'PostgreSQL'],
		feats: [
			'Led a two-person team to build a fullstack site for a mutual aid organization',
			"Used SvelteKit's fullstack features to connect to the Strapi backend securely",
			'Created unique design with accessible functionality',
		],
	},
	{
		name: "Toxic Man, or 'ieatgarbage69.420'",
		short: 'Please forgive me', // I'm so sorry
		repo: 'toxicManBot', // the casing on these repos is all over the place huh
		url: 'github.com/lukeshafer/toxicManBot', // no actual URL unfortunately
		tech: ['Node.js', 'Discord.js', 'TypeScript'],
		feats: [
			'Built a goofy, fun bot for a Discord community I am part of',
			'Originally in outdated JS framework (discord.io); Re-wrote the bot from scratch in TypeScript with modern APIs',
			'He is my son ♥️',
		],
	},
];

export interface Props {
	projects: typeof import("../../data/resume.json").projects;
}

const { projects } = Astro.props as Props;
---

<ul>
	{
		projects.map((project) => (
			<li>
				<h4>{project.name}</h4>
				<div class='info'>
					<a href={project.url}>{project.url.replace("https://", "")}</a> 
				</div>
				<ul class="bullet">
					<li>
						{project.description}
					</li>
					{project.highlights.map((value) => (
						<li>{value}</li>
					))}
					<li>
						{project.keywords.join(", ")}
					</li>
				</ul>
			</li>
		))
	}
</ul>
