---
import { Icon } from "astro-icon";
import Link from "../../reusable/Link.astro";

export interface Props {
	name: string;
	c1: string;
	c2: string;
}

const { name, c1, c2 } = Astro.props as Props;
---

<li
	class="grid justify-center justify-items-center gap-1 text-center font-mono text-base group [&:nth-child(6n+1)]:mr-[50%] [&:nth-child(6n+2)]:mr-[50%] [&:nth-child(6n+3)]:mr-[50%] [&:nth-child(6n+4)]:ml-[50%] [&:nth-child(6n+5)]:ml-[50%] [&:nth-child(6n)]:ml-[50%] relative"
>
	<Icon
		name={name}
		class="w-24 text-gray-600 dark:text-gray-400"
		style={`--c1: ${c1}; --c2: ${c2}`}
	/>
	<!-- Hover text -->
	<Link
		href="https://github.com/lukeshafer"
		class="group-hover:visible transition-all invisible -top-10 bg-gray-700 p-2 rounded-md absolute"
		>github.com/lukeshafer</Link
	>
	<slot />
</li>

<style>
	li:hover [astro-icon] {
		animation: color-change 2s infinite linear forwards;
	}

	@keyframes color-change {
		0% {
			color: var(--c1);
		}

		50% {
			color: var(--c2);
		}

		100% {
			color: var(--c1);
		}
	}
</style>
