---
import { stackList } from './StackList'
import { Icon } from 'astro-icon'
import Link from '../../reusable/Link.astro'
/*import { getBestTextColor } from "../../../utils/colors";*/
const linkbase = 'https://github.com/lukeshafer?tab=repositories&q='
---

<section id="tech" class="flex flex-wrap justify-center gap-8 px-grow">
	<div class="w-80 grid gap-4 content-center">
		<h2 class="text-4xl font-display">My favorite tech</h2>
		<p class="w-60">Click a link to see projects using that technology!</p>
	</div>
	<ul class="grid grid-cols-3 grid-rows-2 gap-y-4 gap-x-4">
		{
			// Merge stackicon into this file, fix link
			[...stackList].map(([tech, { name, tag, c1, c2 }]) => (
				<li
					class="w-24 text-center font-mono text-sm "
					style={`--ls-stack-c1: ${c1}; --ls-stack-c2: ${c2};)}`}>
					<a href={linkbase + tag} tabindex="-1" />
					<Link
						noUnderline
						href={linkbase + tag}
						class="grid justify-center justify-items-center gap-1 text-center">
						<Icon name={name} class="w-16" />
						<span>{tech}</span>
					</Link>
				</li>
			))
		}
	</ul>
</section>

<style>
	/* ADD LI SELECTOR WITH BETTER CSS HERE */

	li:hover [astro-icon],
	li:focus-within [astro-icon] {
		animation: color-change 1.5s infinite linear forwards;
	}

	a {
		color: var(--ls-c-primary);
	}

	li span {
		color: var(--ls-c-text);
	}

	@keyframes color-change {
		0% {
			color: var(--ls-stack-c1);
		}

		50% {
			color: var(--ls-stack-c2);
		}

		100% {
			color: var(--ls-stack-c1);
		}
	}
</style>
