/* VARIABLES*/
:root {
	/*	color names - these should not be overwritten and should 
			typically not be used outside this file */
	--white: hsl(20, 80%, 95%);
	--black: hsl(20, 80%, 6%);
	--light-gray: hsl(20, 15%, 90%);
	--gray: hsl(20, 10%, 55%);
	--dark-gray: hsl(20, 5%, 15%);
	--blue: hsl(220, 100%, 70%);
	--yellow: hsl(50, 70%, 70%);

	/*	variables based on color purpose - these should be used 
			for color schemes */
	/* these are the defaults, but should be overwritten by the
			prefers-color-scheme selector */
	--bg-base: var(--white);
	--text: var(--black);
	--shadow-color: hsla(300, 90%, 20%, 0.5);
	--shadow: 3px 5px 15px var(--shadow-color);
	--highlight: var(--blue);
}

body.darkmode {
	--bg-base: var(--dark-gray);
	--text: var(--white);
	--shadow-color: hsla(300, 95%, 10%, 0.5);
}

