/** This file is for defining style variables to use
  * throughout the project */

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap');

:where(p) {
	font-family: Khula;
	font-weight: light;
	/* letter-spacing: 1px; */
}

:where(h1) {
	font-family: display;
	font-size: 3xl;
	font-weight: normal;
}

:where(h2, h3, h4, h5, h6) {
	font-family: subheading;
	font-size: xl;
	font-weight: light;
}

:where(code) {
	font-family: mono;
}
