---
const companies = [
	"TrueCommerce",
	"CodeWizardsHQ",
	"VIPKid",
	"Apple",
	"LCS",
	"Martin & Associates",
	"University of Cincinnati"
]
---

<ul>
  {companies.map((value) => 
    <li>{value}</li>
  )}
</ul>
