---
import { Image } from "@astrojs/image/components";
import StackIcon from "./StackIcon.astro";
---

<section class="h-screen px-grow pt-20 flex flex-col gap-4 items-center">
	<h2 class="text-4xl font-display text-center col-span-2">Who am I?</h2>
	<div class="flex">
		<div id="bio" class="flex w-full gap-8 justify-center items-center">
			<Image
				src={"src/assets/headshot.png"}
				width={325}
				height={325}
				alt="My headshot"
				class="rounded-full w-min shadow-sm shadow-black/10"
			/>
			<p class="w-96">
				I am a developer who loves building websites and apps. I try to bring a <strong
				>
					creative touch
				</strong> to my projects, especially websites. My goal as a developer is
				to create great developer experiences with compromising the most important
				priority: user experience.
			</p>
		</div>
		<div>
			<h3>My stack tends to include:</h3>
			<ul class="grid grid-cols-3 grid-rows-2 gap-y-4">
				<StackIcon name="simple-icons:react">React</StackIcon>
				<StackIcon name="simple-icons:typescript">TypeScript</StackIcon>
				<StackIcon name="simple-icons:astro">Astro</StackIcon>
				<StackIcon name="simple-icons:postcss">PostCSS</StackIcon>
				<StackIcon name="simple-icons:nodedotjs">Node.js</StackIcon>
				<StackIcon name="simple-icons:svelte">Svelte</StackIcon>
				<StackIcon name="simple-icons:tailwindcss">TailwindCSS</StackIcon>
			</ul>
		</div>
	</div>
</section>
