---
import { Icon } from "astro-icon";

export interface Props {
	href: string;
}

const { href } = Astro.props as Props;
---

<!-- TODO: delete this file -->
<div class="w-full text-center">
	<a
		href={href}
		class="p-4 text-center inline-flex w-max gap-1 flex-col items-center hover:text-sky-700 dark:hover:text-sky-200 transition-colors"
	>
		<slot /><br /><Icon
			name="bi:arrow-down-circle-fill"
			class="w-12"
			height={30}
			width={30}
		/>
	</a>
</div>
