---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404 | Luke Shafer">
	<div class="h-1/2 text-center">
		<h1 class="text-7xl font-mono p-16">404</h1>
		<h2 class="text-4xl">Page {Astro.url.pathname} not found!</h2>
	</div>
</BaseLayout>
