---
import Link from '../components/reusable/Link.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { validateFrontmatter } from './blog/blogpost'
let posts = await Astro.glob('./blog/*.mdx')
---

<BaseLayout title="Blog | Luke Shafer">
	<main class="px-grow my-6">
		<h1 class="text-5xl font-display text-center">My blog</h1>
		<ul class="p-4 py-10 gap-8 w-full flex flex-wrap justify-center">
			{
				posts.map(
					({ frontmatter, url }) =>
						validateFrontmatter(frontmatter).success && (
							<li class="w-96 items-center  border-sky-400">
								<h2 class="font-subheading text-2xl font-medium">
									{frontmatter.title}
								</h2>
								<time
									datetime={frontmatter.datePublished}
									class="w-max whitespace-nowrap opacity-70">
									{new Date(frontmatter.datePublished)
										.toDateString()
										.split(' ')
										.slice(1)
										.join(' ')}
								</time>
								<p class="px-2 pt-3">{frontmatter.description}</p>
								<Link>
									<a href={url ?? '#'} class="text-sm">
										Read more...
									</a>
								</Link>
							</li>
						)
				)
			}
		</ul>
	</main>
</BaseLayout>
