---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/home/Hero.astro';
---

<BaseLayout title="Luke Shafer">
	<Header />
	<main class="p-4">
		<Hero />
	</main>
</BaseLayout>
