---
import Header from '../components/header/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import Portfolio from '../components/portfolio/Portfolio.astro';
---

<BaseLayout title="Luke Shafer">
	<Header />
	<main class="p-4">
		<Portfolio />
	</main>
</BaseLayout>
