---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
/*import Bio from '../components/Bio.astro'*/
import Tech from '../components/Tech.astro'
/*import Projects from "../components/home/projects/Projects.astro";*/
---

<BaseLayout title="Luke Shafer">
	<main class="grid gap-32 mb-16">
		<Hero />
		<Tech />
	</main>
</BaseLayout>
