---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import Bio from "../modules/home-bio/Bio.astro";
---

<BaseLayout title="Luke Shafer">
	<main class="/">
		<Hero />
		<Bio />
		<!-- Section on  -->
	</main>
</BaseLayout>
