---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout currentPage="/">
	<div>
		<h1>
			Hi, I'm <span>Luke Shafer</span>
		</h1>
		<h2>And I'm a Javascript Developer</h2>
	</div>
</BaseLayout>

<style media="screen">
	div {
		/* LAYOUT */
		display: flex;
		flex-flow: column;
		justify-content: center;
		height: 100%;
		padding-left: 6xl;
	}

	h1 {
		font-family: display;
		font-size: 7xl;
		font-weight: normal;

		& span {
			display: inline-block;
			color: cyan.8;
			@media (prefers-color-scheme: dark) {
				color: cyan.3;
			}
		}
	}

	h2 {
		font-family: body;
		font-size: 4xl;
		font-weight: light;
	}
</style>
