---
import { Icon } from 'astro-icon'
import Link from '../reusable/Link.astro'
import { Language } from './Language'
---

<section
	id="hero"
	class="h-[100svh] h-screen -mt-32 px-grow flex flex-col gap-16">
	<div id="heading" class="flex-[2] grid gap-2 content-end">
		<h1 class="font-display text-6xl font-normal top-0">
			Hi, I'm{' '}
			<span class="inline-block text-sky-600 dark:text-sky-300">
				Luke Shafer</span
			>
		</h1>
		<p class="font-subheading text-2xl items-center gap-2 font-light">
			and I'm a <Language client:load /> Developer
		</p>
	</div>
	<ul class="flex-1 grid content-start gap-2 text-xl">
		<li>
			<Link href="#" caret class="font-subheading">Download my resume</Link>
		</li>
		<li>
			<Link href="#" caret class="font-subheading">Get in touch</Link>
		</li>
	</ul>
	<div class="w-full text-center">
		<a
			href="#bio"
			class="p-4 text-center inline-flex w-max gap-1 flex-col items-center hover:text-sky-700 dark:hover:text-sky-200 transition-colors">
			<slot /><br /><Icon
				name="bi:arrow-down-circle-fill"
				class="w-12"
				height={30}
				width={30}
			/><span class="visibly-hidden">Next section</span>
		</a>
	</div>
</section>
