---
import { Image } from 'astro:assets'
import headshot from '../assets/headshot-bw-square.png'
---

<section
	id="hero"
	class="mx-auto flex min-h-[50svh] max-w-6xl flex-row-reverse flex-wrap content-center items-center justify-center gap-16 px-grow py-8">
	<div class="headshot-container relative max-h-[16rem] w-full max-w-[16rem]">
		<Image
			id="headshot"
			src={headshot}
			width="500"
			height="500"
			alt="My headshot"
			class="relative z-10 bg-primary-100 object-cover text-center text-white shadow-sm shadow-black/10 dark:bg-primary-100 dark:text-black"
		/>
		<div
			aria-hidden="true"
			class="absolute left-4 top-4 h-full w-full border-[6px] border-accent-700 dark:border-accent-400">
		</div>
	</div>
	<div
		id="text"
		class="grid w-[21rem] max-w-[90vw] flex-1 content-center gap-4">
		<h1
			class="top-0 font-display text-5xl font-medium text-primary-700 dark:text-primary-300">
			Luke Shafer
		</h1>
		<p class="font-mono text-xl text-accent-700 dark:text-accent-300">
			<span class="inline-block">Systems Engineer</span> &<span
				aria-hidden="true">&</span
			>
			<span class="inline-block">Web Developer</span>
		</p>
		<p class="mt-6 text-lg">
			I create thoughtfully-designed, scalable systems, with a focus on
			providing the best possible user experience.
		</p>
		<p class="mt-6 text-lg">To get in touch, email me at <a class="text-primary-700 underline dark:text-primary-300" href="mailto:hello@lukeshafer.com">hello@lukeshafer.com</a></p>
	</div>
</section>
