---
/*import { Icon } from 'astro-icon'*/
/*import { ContactDialog, OpenContactDialogButton } from './Contact'*/
/*import Link from './Link.astro'*/
/*import { Language } from './Language'*/
import { Image } from '@astrojs/image/components'

import headshot from '../assets/headshot-bw.png'
---

<section
	id="hero"
	class="min-h-[50svh] px-grow flex flex-row-reverse flex-wrap gap-16 items-center justify-center content-center max-w-6xl mx-auto">
	<div
		class="headshot-container relative w-full max-w-[16rem] max-h-[16rem] after:absolute after:block after:top-4 after:left-4 after:w-full after:h-full after:border-[6px] after:border-primary-600 dark:after:border-primary-300">
		<Image
			id="headshot"
			src={headshot}
			width={1000}
			format="webp"
			alt="My headshot"
			class="shadow-sm shadow-black/10 bg-primary-200 dark:bg-primary-50 w-full h-full pt-5 object-cover text-white dark:text-black text-center relative z-10"
		/>
	</div>
	<div id="text" class="flex-1 grid gap-4 content-center min-w-[21rem]">
		<h1
			class="font-display text-6xl text-primary-600 dark:text-primary-300 font-medium top-0">
			Luke Shafer
		</h1>
		<p class="text-2xl font-mono">
			<span class="inline-block">Systems Engineer</span> &<span
				aria-hidden="true">&</span
			>
			<span class="inline-block">Web Developer</span>
		</p>
		<p class="mt-6 text-xl">
			I create thoughtfully-designed, scalable systems, with a focus on
			providing the best possible user experience.
		</p>
	</div>
</section>
