---
/*import { Icon } from 'astro-icon'*/
/*import { ContactDialog, OpenContactDialogButton } from './Contact'*/
/*import Link from './Link.astro'*/
/*import { Language } from './Language'*/
import { Image } from '@astrojs/image/components'

import headshot from '../assets/headshot-bw-square.png'
import BackgroundOrb from './BackgroundOrb.astro';
---

<section
	id="hero"
	class="mx-auto py-8 flex min-h-[50svh] max-w-6xl flex-row-reverse flex-wrap content-center items-center justify-center gap-16 px-grow relative">
	<div class="absolute inset-0 w-full h-full" aria-hidden="true">
		<BackgroundOrb top="10%" left="13%" />
		<BackgroundOrb top="30%" left="83%" />
		<BackgroundOrb top="100%" left="-8%" />
		<BackgroundOrb top="80%" left="96%" />
	</div>
	<div
		class="headshot-container relative max-h-[16rem] w-full max-w-[16rem] after:absolute after:top-4 after:left-4 after:block after:h-full after:w-full after:border-[6px] after:border-accent-700 dark:after:border-accent-400">
		<Image
			id="headshot"
			src={headshot}
			width={675}
			height={675}
			fit="cover"
			format="webp"
			alt="My headshot"
			class="relative z-10 h-full w-full bg-primary-100 object-cover text-center text-white shadow-sm shadow-black/10 dark:bg-primary-100 dark:text-black"
		/>
	</div>
	<div id="text" class="grid w-[21rem] max-w-[90vw] flex-1 content-center gap-4">
		<h1
			class="top-0 font-display text-5xl font-medium text-primary-700 dark:text-primary-300">
			Luke Shafer
		</h1>
		<p class="font-mono text-xl text-accent-700 dark:text-accent-300">
			<span class="inline-block">Systems Engineer</span> &<span
				aria-hidden="true">&</span
			>
			<span class="inline-block">Web Developer</span>
		</p>
		<p class="mt-6 text-lg">
			I create thoughtfully-designed, scalable systems, with a focus on
			providing the best possible user experience.
		</p>
	</div>
</section>
