---
import NavItem from './NavItem.astro'
import Logo from './Logo.svg.astro'
import Icon from 'astro-icon'
import Link from '../../components/reusable/Link.astro'
---

<header
	class="grid grid-cols-2 grid-rows-2 sm:grid-cols-4 sm:grid-rows-1 grid-flow-dense justify-between px-9 py-6 fixed inset-x-0 top-0 z-50 bg-gradient-to-b from-gray-50 via-gray-50 dark:from-gray-900 dark:via-gray-900 to-transparent">
	<Link noUnderline>
		<a
			href="/"
			class="stroke-sky-800 dark:stroke-sky-100 hover:stroke-sky-600 hover:dark:stroke-sky-400 focus:stroke-sky-600 focus:dark:stroke-sky-400">
			<Logo class="z-10 h-8 w-8" />
			<span class="visibly-hidden">Logo</span>
		</a>
	</Link>
	<nav class="col-span-2">
		<ul class="flex flex-row gap-10 justify-center">
			<NavItem href="/">Home</NavItem>
			<NavItem href="/projects">Projects</NavItem>
			<NavItem href="/blog">Blog</NavItem>
			<NavItem href="/contact">Contact</NavItem>
		</ul>
	</nav>
	<ul class="flex gap-2 justify-self-end items-center">
		<li>
			<Link noUnderline>
				<a href="https://linkedin.com/in/lukealanshafer">
					<Icon class="w-5" name="fa-brands:linkedin" />
					<span class="visibly-hidden">LinkedIn</span>
				</a>
			</Link>
		</li>
		<li>
			<Link noUnderline>
				<a href="https://twitter.com/lksh_dev">
					<Icon class="w-5" name="fa-brands:twitter" />
					<span class="visibly-hidden">Twitter</span>
				</a>
			</Link>
		</li>
		<li>
			<Link noUnderline>
				<a href="https://github.com/lukeshafer">
					<Icon class="w-5" name="fa-brands:github" />
					<span class="visibly-hidden">GitHub</span>
				</a>
			</Link>
		</li>
	</ul>
</header>
<div hidden class="h-32 block"></div>
