---
// COMPONENTS
import Footer from '../components/footer/Footer.astro';

// FONTS
import '@fontsource/raleway/variable.css';
import '@fontsource/work-sans/variable.css';
import '@fontsource/jetbrains-mono/variable.css';
import '@fontsource/khula';

// STYLES
// import '../styles/better-normalize.css';
// import '../styles/reset.local.css';
// import '../styles/presets.css';
import '../app.css';

// PROPS
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en" style="overflow-x:hidden">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : 'Luke Shafer'}</title>
	</head>
	<body
		class="h-screen text-gray-800 dark:text-gray-50 bg-radial-at-bl from-sky-200 via-gray-100 to-white dark:from-gray-800 dark:via-gray-800 dark:to-black bg-fixed">
		<slot />
		<Footer />
		<style>
			:root {
				font-size: clamp(85%, 0.2rem + 1.3vw, 180%);
			}
		</style>
	</body>
</html>
