---
import Link from '../components/Link.astro'
import BaseLayout from './BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { CollectionEntry } from 'astro:content'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout title={title}>
	<main
		class="mx-auto max-w-5xl auto-rows-min justify-items-center gap-12 px-grow pb-16">
		<header class="grid gap-2 pb-6">
			<h1 class="font-display text-5xl">{title}</h1>
			<div
				class="flex items-end justify-self-end font-subheading text-lg font-light">
				<div class="text-stone-500">
					Published
					<FormattedDate date={pubDate} />
				</div>
				{
					updatedDate ? (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					) : null
				}
			</div>
		</header>
		<article
			class="prose prose-sky mx-auto dark:prose-invert prose-h2:font-subheading prose-h2:font-normal prose-p:text-base prose-p:leading-5">
			<slot />
		</article>
		<footer class="my-8">
			<p class="italic">
				Luke is a software engineer in Columbus, Ohio. He focuses primarily on
				JavaScript and TypeScript, and is currently working as an integrations
				developer at <a href="https://osu.edu">the Ohio State University</a>.
			</p>
		</footer>
	</main>
</BaseLayout>
