---
export interface Props {
	active?: string;
	from?: string;
}

const { active, from } = Astro.props as Props;

const className = active || from || '';
---

<span class={className + 'mr-1 opacity-0'} hidden>{'>'}</span>

<style>
	@keyframes slideIn {
		0% {
			transform: translateX(2rem);
			opacity: 0;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	span.active {
		display: inline-block;
		animation: slideIn 400ms forwards cubic.out;
		opacity: 1 !important;
	}
	span.from {
		display: inline-block;
		animation: slideIn 400ms reverse forwards sine.in;
	}
</style>
