@keyframes button-anim {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(var(--move-dist)) rotate(0);
	}

	100% {
		transform: translateY(var(--move-dist)) rotate(var(--rotate));
	}
}

button::before {
	--move-dist: 6px;
	--rotate: 135deg;
}

button::after {
	--move-dist: -6px;
	--rotate: 225deg;
}

button:where(::after, ::before) {
	background-color: black;
	@media (prefers-color-scheme: dark) {
		background-color: white;
	}

	content: '';
	display: inline-block;
	width: 10px;
	height: 5px;
	color: inherit;
	transition: transform 300ms;
	transition-timing-function: cubic.out;
	transform-origin: center;
}

nav:focus-within + button:where(::after, ::before) {
	cursor: pointer;
}
