---
import NavItem from './NavItem.astro';
---

<nav class="col-span-2">
	<ul class="flex flex-row gap-10 justify-center">
		<NavItem href="/">Home</NavItem>
		<NavItem href="/projects">Projects</NavItem>
		<NavItem href="/blog">Blog</NavItem>
		<NavItem href="/about">About Me</NavItem>
	</ul>
	<!-- <Hamburger client:load /> -->
</nav>
