---
import Link from '../../components/reusable/Link.astro'
---

<footer
	class="w-full p-12 bg-gray-50 dark:bg-gray-900 grid gap-8 justify-items-center">
	<ul class="flex flex-wrap gap-3 justify-center">
		<li><Link><a href="/blog">Blog</a></Link></li>
		<li><Link><a href="/contact">Contact</a></Link></li>
		<li><Link><a href="/projects">Projects</a></Link></li>
		<li><Link><a href="https://twitter.com/lksh_dev">Twitter</a></Link></li>
		<li><Link><a href="https://github.com/lukeshafer">GitHub</a></Link></li>
		<li>
			<Link><a href="https://linkedin.com/in/lukealanshafer">LinkedIn</a></Link>
		</li>
	</ul>
	<p>
		<span class="-mx-2">Built with</span><Link>
			<a href="https://astro.build/">Astro.</a>
		</Link>
		<span class="-mx-2">Hosted on</span><Link
			><a href="https://vercel.com/">Vercel.</a>
		</Link>
	</p>
	<p class="text-gray-500">
		Copyright {new Date().getFullYear()} Luke Shafer. Contact at <a
			class="underline underline-offset-4"
			href="mailto:hello@lukeshafer.com">hello@lukeshafer.com</a
		> for all inquiries.
	</p>
</footer>
